<div id="edit-charts">
    <h3>Edit chart</h3>
        <div class="row">
            <div class="col-6">
                <label for="chart-title">Title</label><br>
                <input type="text" value="<%= chartTitle %>" placeholder="Chart title" id="chart-title">
            </div>
            <div class="col-6">
                <label for="chart-type">Chart type:</label>
                <select id="chart-type">
                    <% _.each(supportedTypes, function(type){ %>
                        <option value="<%= type %>" <%= chartType === type ? 'selected' : '' %>><%= type %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4>X-axis</h4>
                <p>
                    <label for="x-axis-title">Title</label><br>
                    <input type="text" id="x-axis-title" value="<%= xAxisTitle %>" placeholder="X axis title">
                </p>
                <p>
                    <label for="x-axis-attribute">Attribute</label><br>
                    <input type="text" id="x-axis-attribute" value="<%= xAxisAttriute %>" placeholder="Attribute for X axis">
                </p>
            </div>
            <div class="col-6">
                <h4>Y-axis</h4>
                <p>
                    <label for="y-axis-title">Title</label><br>
                    <input type="text" id="y-axis-title" value="<%= yAxisTitle %>" placeholder="Y axis title">
                </p>
                <p>
                    <label for="y-axis-attribute">Attribute</label><br>
                    <input type="text" id="y-axis-attribute" value="<%= yAxisAttriute %>" placeholder="Attribute for Y axis">
                </p>
            </div>
        </div>
        <button id="apply-chart">OK</button>
</div>
