.popup-bcg{
    @include all-0;
    position: fixed;
    background: rgba(25, 25, 25, 0.5);
    z-index: 10;
    .popup{
        @include all-0;
        width: 60%;
        max-height: 60%;
        min-height: 160px;
        margin: 20% auto;
        bottom: auto;
        background: $main-bg-color;
        .popup-closer{
            float: right;
            margin: 14px;
            font-size: 25px;
            font-weight: bold;
            color: #848484;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.44);
            line-height: 16px;
            cursor: pointer
        }
        .popup-container{
            padding: 10px
        }
    }
}
