.popup-bcg{
    @include all-0;
    position: fixed;
    background: rgba(25, 25, 25, 0.5);
    z-index: 10;
    .popup-closer{
        position: absolute;
        top: 20%;
        right: 20%;
        margin: 14px;
        font-size: 25px;
        font-weight: bold;
        color: lighten($main-color, 40);
        line-height: 16px;
        cursor: pointer;
        z-index: 1;
        &:active{
            color: lighten($main-color, 12);
        }
        @media only screen and (max-width: $small-landscape){
            top: 10%;
            right: 5%;
        }
    }
    .popup{
        @include all-0;
        width: 60%;
        max-height: 60%;
        min-height: 160px;
        margin: auto;
        top: 20%;
        bottom: auto;
        background: $main-bg-color;
        box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.5);
        overflow: auto;
        @media only screen and (max-width: $small-landscape){
            width: 90%;
            max-height: 80%;
            top: 10%;
        }
        .popup-container{
            padding: 10px;
            h3{
                text-align: center;
                margin: 0.5em 0 1.5em;
            }
        }
    }
}


/* --- SEPCIFIC POPUPS RULES ---- */

#edit-charts{
    padding-bottom: 3em;
    #apply-chart{
        float: right;
        margin-right: 2.5%
    }
}
